.homepage-container {
  min-height: 100vh; /* Đảm bảo phủ toàn màn hình */
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: url('../../assets/homepage_background.jpg');
  opacity: 0.8;
}
.homepage-background {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh; /* Đảm bảo phủ toàn màn hình */
  background-color: rgba(0, 0, 0, 0.5);
}


.homepage-text-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  top: 30px;
}

.homepage-centered-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff; /* Màu trắng nổi bật */
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Lớp phủ tối để chữ rõ hơn */
  border-radius: 10px;
}

.homepage-category-container {
  width: 100%; 
  padding: 0 150px; 
  box-sizing: border-box; 
 
}

.category-centered-text {
  color: white; 
  text-align: center; 
  padding-top: 20px;
  margin: 0; 
  font-size: 2rem;
  
}

.button-section {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 8px; 
  width: 100%;
  padding: 20px;
  margin: 0 auto; 
  margin-bottom: 20%;
}

.white-section{
  background-color: white; 
  min-height: 60vh;
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.white-section--small {
  min-height: 50vh; 
  padding-top: 10px;
}

.section-title-text {
  padding-left: 20px;
  font-size: 2.5rem; 
  font-weight: bold;
  color: rgb(102, 77, 77); 
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.custom-underline {
  width: 70%; 
  height: 10px;
  background-color: red;
  border: 2px solid #be3b3b; 
  border-radius: 2px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.document-list {
  margin-bottom: 40px;
}
/* Thêm responsive design */
@media (max-width: 768px) {
  .homepage-centered-text {
    font-size: 2rem;
  }
  
  .button-section {
    max-width: 100%;
  }
}